#app-container {
  @include dimensions(100vw, 100vh);
  display: flex;
  justify-content: center;
}

#calculator-container {
  @include dimensions(35%, 85%);
  border-radius: 20px;
  background: $grey;
  border: 1px solid black;
}

#calculator-display-container {
  @include dimensions(100%, 20%);
  display: flex;
  justify-content: center;
  align-items: center;
}

#calculator-display {
  @include dimensions(100%, 100%);
  color: white;
  background: $dark;
  border-radius: 20px;
  font-size: 72px;
  font-family: $orbitron;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#calculator-buttons-container {
  @include dimensions(100%, 80%);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.button-row {
  @include dimensions(100%, 16.5%);
  display: flex;
  justify-content: space-around;
}

#footer {
  width: 100%;
  text-align: center;
}