// Import the Display Font
@import url('https://fonts.googleapis.com/css?family=Orbitron');

// Font Variables
$orbitron: 'orbitron';

// Color Variables
$grey: rgb(217, 217, 217);
$dark-grey: rgb(150, 150, 150);
$dark: rgb(31, 31, 31);
$white: rgb(254, 254, 254);
$orange: rgb(243, 127, 38);
$green: rgb(0, 250, 154);
$red: rgb(229, 0, 0);